/* Typography */

.txt-bold {
  font-weight: bold !important;
}

.text-small {
  font-size: 12px !important;
}

.txt-normal {
  font-weight: normal !important;
}

.txt-sm {
  font-size: 12px !important
}

.txt-lg {
  font-size: 16px !important;
}

.txt-md {
  font-size: 14px !important
}

.text-muted {
  color: #c2c2c5 !important;
}
