<!-- Main content for all screens -->

<div class="row">
  <div class="col-md-6">
    <div class="card text-center">
      <div class="card-body">
        <span class="fa-stack fa-2x">
          <i class="ti-user fa-stack-2x text-azure"></i>
        </span>
        <h2 class="StepTitle">
          <a routerLink="/instractour-dashboard">Instarctour Dashboard</a>
        </h2>
        <p class="text-small">
          Lorem Ipsum is simply dummy text of the printing and typesetting
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card text-center">
      <div class="card-body">
        <span class="fa-stack fa-2x">
          <i class="fa fa-graduation-cap fa-stack-2x text-azure"></i>
        </span>
        <h2 class="StepTitle">
          <a routerLink="/student-dashboard">Student Dashboard</a>
        </h2>
        <p class="text-small">
          Lorem Ipsum is simply dummy text of the printing and typesetting
        </p>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
