<div class="add-q">
  <a (click)="onNewQuiz()" class="btn btn-success" style="color: #fff">
    <i class="fas fa-plus"></i>New quiz</a>
</div>


<div class="row quiz_manager">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-6" *ngFor="let item of quizes; let i = index">
        <div class="card">
          <div class="card-body">
            <div class="media">
              <img class="align-self-center mr-3" width="100" [src]="item.image" alt="Quiz image">
              <div class="media-body">
                <h5 class="mt-0">
                  <a href="">{{item.name}}</a>
                </h5>
                <span>{{item.course}}</span>
                <p>{{item.completed}} completed</p>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <a (click)="onReviewQuiz(i)" class="btn btn-app">Review
              <span class="badge badge-light">2</span>
            </a>
            <a (click)="onEditQuiz(i)" class="btn btn-default float-right">
              <i class="ti ti-pencil"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="list-group">
      <a class="list-group-item active">All quizes</a>
      <a class="list-group-item" (click)="onReviewQuiz(i)" *ngFor="let item of quizes;let i = index">
        {{item.name}}
      </a>
    </div>
  </div>
</div>
